.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.border {
    border-image: linear-gradient(#ff000088, #73ff0088) 30;
    border-width: 10px;
    border-style: solid;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    background-color: #391eb08a;
    backdrop-filter: blur(10px);
}

.title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    font-family: var(--valorantFont);
    color: #fff;
    text-shadow: 0 0 5px #000;
    text-align: center;
    letter-spacing: 0.1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rowInputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.labelInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem 1rem;
}

.label {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 0 10px #000;
    font-family: var(--valorantFont);
}

.input,
.select {
    width: 15rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0 1rem;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    outline: none;
}

.button[type="submit"] {
    width: 14rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: var(--valorantFont);
    color: #fff;
    background-color: #000;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.button + span {
    color: white;
}

.button + span > a {
    color: #ff4655;
    text-decoration: none;
}
