.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    border-radius: 8px;
    background-color: #391eb08a;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #000;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    font-family: var(--valorantFont);
    color: #fff;
    text-shadow: 0 0 10px #000;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 0 10px #000;
    font-family: var(--valorantFont);
}

.input {
    width: 25rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0 1rem;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    outline: none;
}

.button[type="submit"] {
    width: 17.5rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: var(--valorantFont);
    color: #fff;
    background-color: #000;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.button + span {
    color: white;
}

.button + span > a {
    color: #ff4655;
    text-decoration: none;
}
