
.container {
    height: fit-content;
    width: 90vw;
    margin: 0 auto;
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundColor);
    backdrop-filter: blur(10px);
    font-size: large;
    border-radius: 8px;
}

.textRegulamento {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
}

.TitleRegulamento {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 2rem;
    text-decoration: underline;
    font-family: var(--valorantFont);
}

.regulamento {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    color: white;
}

.regulamentoOl {
    counter-reset: item
}

.regulamentoLi {
    display: block
}

.regulamentoLi:before {
    content: counters(item, ".") ". ";
    counter-increment: item
}