.container {
    height: fit-content;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundColor);
    font-size: large;
    border-radius: 8px;
}

.textRegulamento {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
}

.regulamento {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    text-decoration: underline ;
    color: white;
    font-family: var(--valorantFont);
}