.container {
    height: fit-content;
    width: 90vw;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundColor);
    backdrop-filter: blur(10px);
    font-size: large;
    border-radius: 8px;
}

.discordContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-image: url("/bar.png");
    background-repeat: no-repeat;
    background-size: 30% 120%;
    background-position: 590px;
    font-family: var(--valorantFont);
    font-size: small;
}

.text {
    margin-top: 2rem;
    margin-left: 10px;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
    font-family: var(--valorantFont);
    font-size: x-large;
    text-decoration: underline ;
}

.riotContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-right: 100px;
    background-image: url("/bar.png");
    background-repeat: no-repeat;
    background-size: 30% 120%;
    background-position: 590px;
    font-family: var(--valorantFont);
    font-size: small;
}

.connectText {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
    font-family: var(--valorantFont);
}